<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <style>
 table {
            width: 100%;
            padding-left: 130px;
            border-collapse: separate;
            
        }
        th, td {
            
            padding-bottom: 15px;
            text-align: left;
        }
        th {
            
        }
        .col-40 {
            width: 40%;
        }
        .col-60 {
            width: 60%;
        }


        


        body {
            background-color: #F3F8FF;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-bottom: 250px;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 70%;
            margin: 0 auto;
        }
        .my-5 {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        .text-center {
            text-align: center;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .col-12 {
            width: 100%;
            text-align: center;
        }
        .col-6 {
            width: 40%;
            float: left;
            
            padding: 0 15px;
            
        }
        .col-6:last-child {
            margin-right: 0;
        }
        .card {
            background-color: #fff;
            
            padding: 70px;
            
            margin-top: 160px;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
        }
        .col-75 {
            width: 67%;
            float: left;
            box-sizing: border-box;
            
            padding-left: 140px;
            color: #4A4A4A;
            font-size: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center content vertically */
            position: relative;
        }
        .col-50 {
            width: 67%;
            float: left;
            box-sizing: border-box;
            
            padding-left: 140px;
            color: #4A4A4A;
            font-size: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center content vertically */
            position: relative;
        }
        .col-10 {
            width: 10%;
            float: left;

            box-sizing: border-box;
            padding: 0 15px;
            display: flex;
            margin-top: 30;
            flex-direction: column;
            justify-content: center; /* Center content vertically */
            align-items: center; /* Center items horizontally */
            padding-top: 8px;
        }
        .col-15 {
            width: 23%;
            float: left;
            box-sizing: border-box;
            
            display: flex;
            margin-top: 30;
            flex-direction: column;
            justify-content: center; /* Center content vertically */
            align-items: center; /* Center items horizontally */
        }
        .col-15 p {
            font-size: 30px;
            margin: 0;
            text-align: center; /* Center text horizontally */
            margin-top: 40px;
        }
        .svg-icon {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: end;
            height: 100%; /* Ensure the SVG container takes full height */
            margin-top: -90px;
            
        }
        .svg-icon svg {
            height: 100%; /* Ensure the SVG itself takes full height */
            align-items: end;
            margin-left: 25px;
        }
        .maps {

            margin-top: 27px;
            
            color: #000000;
        background-color: #ffffff;
        padding: 16px;
        border: 1px solid #4A4A4A; 
        padding-left: 30px;
        padding-right: 30px;
        text-align: center; /* Align text content to center */
        
        border-radius: 85px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
        }

        .maps a {
            color: #000000;
            padding-top:30px ;
        font-size: 32px;
        
        text-decoration: none;

        
        
        }

        .maps a:hover {
        
        
        }

        .absolute-element {
            position: absolute;
            top:120px;
            left: 110px;
            

            
            
        }
        .absolute-element2 {
            position: absolute;
            top:110px;
            left: -15px;
            

            
            
        }

        .cost-details {
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
    }

    .cost-details p {
      margin: 5px 0;
    }

    .separator {
      grid-column: span 2;
      text-align: center;
      margin: 10px 0;
      font-weight: 100;
    }

        
    </style>
</head>
<body>
    <div class="container my-5" style="padding-top: 100px;">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="font-size: 90px; color: #101828;">Your Trip Report</h1>
                <h2 style="color: #605F5F; font-size: 70px; font-weight: 200;">Trip / Tour name:  <%= tripData.tripName %></h2>
            </div>
        </div>
    </div>

    <div class="container" style="font-size: 45px; color: #6C6C6C; margin-left: 28  0px;">
        <div class="row">
            <div class="col-6" style="width: 48%; ">
                <p>Creator Name: <%= tripData.creatorName %></p>
                <p>Trip Country: <%= tripData.countryName %></p>
                <p>Starting Date: <%= new Date(tripData.date).toLocaleDateString() %></p>
            </div>
            <div class="col-6" style="width: 46; padding-left: 70px;">
                <p>No of days: <%= tripData.days.length %></p>
                <p>No of Nights: <%= tripData.numNights %></p>
                <p>No of People: <%= tripData.numPeople %></p>
            </div>
        </div>
    </div>




    
<% tripData.days.forEach((day, index) => { %>
    <div style="margin-left: 100px; margin-right: 100px;">
        <div class="card">
            <h1 style="font-size: 67px; color: #000000; margin-left: 70px;">Day <%= day.day %>:</h1>

    <% day.places.forEach(place => { %>

            <div class="row">

                <div class="col-75">
                    <ul style="">
                        <li>
                            <p><%= place.description %></p>
                        </li>
                    </ul>

                    <% if (place.distance && place.distance.text) { %>

                    <div class="absolute-element">
                        <!-- Content for the absolutely positioned div goes here -->
                        <svg width="24" height="105" viewBox="0 0 24 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.155 20.807H10.228L10.228 0.458L14.155 0.458L14.155 20.807ZM14.155 48.8968H10.228L10.228 28.5478H14.155L14.155 48.8968ZM14.155 76.9867H10.228L10.228 56.6377H14.155L14.155 76.9867ZM23.845 86.5635L23.845 92.4285L12.166 104.771L0.436 92.4285V86.5635L12.166 98.9055L23.845 86.5635Z" fill="#4A4A4A"/>
                            </svg>                                                        
                    </div>
                    <div class="absolute-element2">
                        <!-- Content for the absolutely positioned div goes here -->
                        <p style="font-size: 30px;"><%= place.distance.text %></p>
                    </div>

                    <% } %>
                </div>


                <div class="col-10">
                    <div class="svg-icon">
                        <svg width="78" height="25" viewBox="0 0 78 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.307 10.345V14.272H0.958V10.345H21.307ZM49.3968 10.345V14.272H29.0478V10.345H49.3968ZM58.9737 0.654999H64.8387L77.1807 12.334L64.8387 24.064H58.9737L71.3157 12.334L58.9737 0.654999Z" fill="#4A4A4A"/>
                            </svg>  
                            
                    </div>
                </div>

                <div class="col-15 maps">
                    <a href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id=<%= place.place_id %>" class="place-link" target="_blank" style=" text-decoration: none; padding: 10px; "  >View in Maps</a>
                </div>
                

            </div>


            
            <% }); %>


        </div>
    </div>
    <% }); %>






    
    <h1 style="font-size: 65px; color: #000000; margin-left: 140px; margin-top: 300px;">More about the Places you visit :</h1>
    
<% tripData.days.forEach((day, index) => { %>

    <div  class="card" style="margin-left: 100px; margin-right: 100px; color: #4A4A4A;">
        <h1 style="font-size: 55px; color: #000000; ">Day <%= day.day %>:</h1>

    <% day.places.forEach((place,index) => { %>
            <div class="row">
                <div >
                    <ul style="font-size: 40px; ">
                        <li>
                            <p style="font-weight:900; margin: 0px; color: #000000;"><%= place.description %></p>
                            <p><span style="font-weight: 600;"> About : </span><%= place.about%></p>
                            <p><span style="font-weight: 600;"> Uniqueness : </span><%= place.uniqueness %></p>
                            <p><span style="font-weight: 600;"> Must try : </span><%= place.mustTry %></p>
                            
                            <% if (index < day.places.length - 1) { %>
                                <h1 style="font-weight: 100; text-align: center; padding: 0px;margin: 0px;">- - - - - - - - - - -</h1>
                              <% } %>

                            
                            
                            
                        </li>
                    </ul>

                </div>


               

            </div>
            <% }); %>

        </div>
    </div>
</div>


    <% }); %>
    
  






    <div style="width: 100 ;  display: flex; justify-content: center; ">


    
            <div style="display: flex; justify-items: center; align-items: center;">
                <% if (img1 !== 'No') { %>
                    <p style="font-size: 65px; color: #494949; margin-left: 140px; margin-top: 150px; font-weight: bold;">Travel-to Tickets :</p>

                    <img src="<%= img1 %>" alt="Image 1" style="width: 1400px;  object-fit:contain; margin: 0 100px ; border-radius: 40px; box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1); /* Enhanced shadow */" >
                <% }%>
            </div>
            
                
            <% if (img2 !== 'No') { %>
                <p style="font-size: 65px; color: #494949; margin-left: 140px; margin-top: 150px; font-weight: bold;">Travel-back Tickets : </p> 
                <img src="<%= img2 %>" alt="Image 2" style="width: 1400px;  object-fit: contain; margin: 0 100px ; border-radius: 40px; box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1); /* Enhanced shadow */" >
            <% }%>
            


    </div>




    <div style="padding-left: 100px; padding-right: 100px; padding-top: 150px; padding-bottom: 200px;">
        
        <h1 style="font-size: 65px; color: #171717; padding-left: 25px;">Estimated Budget :</h1>
        <div style="font-size: 40px; padding-left: 100px;">
            <p>Cost per room : 4000 ₹</p>
            <p>Total number of rooms required :  3  (Assuming one room for 2)</p>
            <p>Food Cost Per Person PerDay : 1000 ₹</p>
        </div>


     

        

    <% costEstimation.detailedCosts.forEach(cost => { %>
        <div class="card" style="font-size: 35px; padding-top: 35px; ">
            <p style="font-weight: 700; font-size: 45px;">Cost for Day <%= cost.day %>:</p>
            <table>
                <tr>
                    <th class="col-40"></th>
                    <th class="col-60"></th>
                </tr>
                <tr style="padding-bottom: 30px;">
                    <td style="padding-bottom: 35px;">Total Travelling Distance</td>
                    <td style="padding-bottom: 35px;"><span style="padding-right: 30px;">:</span><%=  Math.floor(cost.travelDistance) %> kms (12.5 cost per/km)</td>
                </tr>
                <tr>
                    <td>Cost for Transport</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(cost.travelCost) %> (12.5 rupees / km)</td>
                </tr>
                <tr>
                    <td>Total Room Cost</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(cost.totalAccommodationCost) %> (Assuming 4000 / room)</td>
                </tr>
                <tr>
                    <td>Food Cost</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(cost.foodCost) %> (Assuming 1000 / person)</td>
                </tr>
                <tr colspan="2" style="width: 100%;">
                    <td>
                        - - - - - - - - - - - - - - - - - -
                    </td>
                    <td>
                        - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                    </td>
                </tr>
                <tr>
                    <td>Total Cost For Day <%= cost.day %></td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(cost.totalCostForDay) %> ₹</td>
                </tr>
            </table>
        </div>
        <% }); %>




        <div class="card" style="font-size: 35px; padding-top: 35px;  border: 4 px solid #6a6a6a; ">
            <p style="font-weight: 700; font-size: 50px;">Total Cost: </p>
            <p><span style="font-size: 40px; font-weight: 300;">(  Excluding travel to and return travel cost  )</span></p>
            <table>
                <tr>
                    <th class="col-40"></th>
                    <th class="col-60"></th>
                </tr>
                <tr style="padding-bottom: 30px;">
                    <td style="padding-bottom: 35px;">Total Travelling Distance</td>
                    <td style="padding-bottom: 35px;"><span style="padding-right: 30px;">:</span><%=  Math.floor(costEstimation.totalDistance) %> kms (12.5 cost per/km)</td>
                </tr>
                <tr>
                    <td>Cost for Transport</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(costEstimation.totalTransportationCost) %> (12.5 rupees / km)</td>
                </tr>
                <tr>
                    <td>Total Room Cost</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(costEstimation.totalAccommodationCost) %> (Assuming 4000 / room)</td>
                </tr>
                <tr>
                    <td>Food Cost</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(costEstimation.totalFoodCost) %> (Assuming 1000 / person)</td>
                </tr>
                <tr colspan="2" style="width: 100%;">
                    <td>
                        - - - - - - - - - - - - - - - - - -
                    </td>
                    <td>
                        - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                    </td>
                </tr>
                <tr style="font-weight: 900;">
                    <td>Total Cost For the Trip</td>
                    <td><span style="padding-right: 30px;">:</span><%=  Math.floor(costEstimation.totalCost) %> ₹</td>
                </tr>
            </table>
        </div>


        

    </div>
            



    

    
</body>
</html>
